body
{
    margin: 0;
    padding: 0;
}
.container
{
  width: 65%;
    margin: auto;
    
}
.background
{
   background-image: url('beauti.jpg');
   position: absolute;
background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.background
{
 width: 1200px;
    height: 600px;

}
h1{
    
   font-weight: 300px;
    color: 
    width: 321px;
   box-sizing: border-box;
}
.box
{
 height: 450px;
    width:340px;
   background: linear-gradient(#00ffc3e0,#ff5400,lightblue);
     
    margin: auto;
    
    
}
.box
{ 
    margin-top: 200px;
    
}
.logo img
{
 width:90px;
    height: 90px;
    margin-left: 110px;
    margin-top: -45px;
    border: 2px solid blue;
    border-radius: 200px;
}
    
.inp
{
    color: #D3D8E8;
    font-weight: 600px;
overflow: hidden;
}
.inp input[type="text"]
{
    border: 1px solid black;
    width: 130px;
    padding: 5px 3px;
    font-weight: 200px;
}
.pss
{
 color: #D3D8E8;    
  font-weight: 600px;
   margin-top: 5px;
    display: block;
    overflow: hidden;
}
    
 .pss input[type="password"]
{
    border: 1px solid black;
    width: 242px;
    padding: 5px 3px;
    font-weight: 200px;
}   
.login
{
    text-align: center;
    margin-top: 30px;
     
}
    
  .login input[type="submit"]
{
    border: 2px solid #ffffff;
    width:139px;
    padding: 5px 3px;
    font-weight: 600px;
    color:white;
    background: linear-gradient(darkolivegreen,darkolivegreen);
    min-width:150px;
     border-radius: 10px;

} 
input[type="submit"]:hover{
    background: linear-gradient(aqua,darkolivegreen);
    
}
.email{
    float: left;
    margin-top: 4px;
    margin-left: 8px;
}
.email input[type="text"]
{
    border: 1px solid black;
    width: 266px;
    padding: 5px 5px;
    font-weight: 200px;
    
}   